<li>
  <div class="downloads">
    <strong>
      <%= rubygem.downloads %>
    </strong> downloads
  </div>
  <a href="https://rubygems.org/gems/<%= rubygem.name %>">
    <strong>
      <%= rubygem.name %>
      (<%= rubygem.version %>)
    </strong>
    <%= rubygem.info %>
  </a>
</li>
