<li>
  <div class="downloads">
    <strong>
      <%= rubygem.downloads %>
    </strong> downloads
  </div>
  <a href="https://rubygems.org/gems/<%= rubygem.name.first %>">
    <strong>
      <%= rubygem.name.first %>
      (<%= rubygem.version.first %>)
    </strong>
    <%= rubygem.info.try(:first) %>
  </a>
</li>
