<div class="info clearfix">
  
  <div class="title">
    <h2><%= link_to 'search', '/search' %></h2>
    <h3>for <em><%= params[:q] %></em></h3>
  </div>
  
  <p>Exact match</p>
  
  <div class="gems border">
    <ol>
      <%= render 'rubygem' %>
    </ol>
  </div>
  
  <p class="entries">Displaying gems 1&ndash;30 of 2,514 total.</p>

  <div class="gems border">
    <ol>
      <%= render 'rubygem' %>
      <%= render 'rubygem' %>
    </ol>
  </div>

</div>
