<script type="text/javascript">
  $(function() {
    $('head title').html(
      'RubyGems.org | Search for &ldquo;<%= params[:q] %>&rdquo;'
    );
  });
</script>
<div class="info clearfix">
  
  <div class="title">
    <h2><%= link_to 'search', '/search' %></h2>
    <h3>
      for <em><%= params[:q] %></em>
      <small id="qtime">in <%= @search['responseHeader']['QTime'] %> ms</small>
    </h3>
  </div>
  
  <% if @exact %>
    <p>Exact match</p>
    <div class="gems border">
      <ol>
        <%= render 'rubygem' %>
      </ol>
    </div>
  <% end %>
  
  <p class="entries">
    Displaying gems
    1&ndash;<%= @docs.length %>
    of
    <%= number_with_delimiter @search['response']['numFound'] %> total.
  </p>

  <div class="gems border">
    <ol>
      <% @docs.each do |doc| %>
        <%= render 'rubygem', rubygem: doc %>
      <% end %>
    </ol>
  </div>

  <pre><%#= @search.to_yaml %></pre>

</div>
